@page
@model LoginModel
@* <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@
@* <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input asp-for="Input.Email" type="email" id="typeEmailX" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input asp-for="Input.Password" type="password" id="typePasswordX" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-outline-light btn-lg px-5">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
            </div>
        </div>
    </div>
</section> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/_Layout_Admin/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/_Layout_Admin/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/_Layout_Admin/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/_Layout_Admin/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/_Layout_Admin/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/_Layout_Admin/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/_Layout_Admin/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/_Layout_Admin/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="/_Layout_Admin/js/semantic.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page login">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="login_section">
                    <div class="logo_login">
                        <div class="center">
                            <img width="210" src="/_Layout_Admin/images/logo/logo.png" alt="#" />
                        </div>
                    </div>
                    <div class="login_form">
@*                         <form>
                            <fieldset>
                                <div class="field">
                                    <label class="label_field">Email Address</label>
                                    <input type="email" name="email" placeholder="E-mail" />
                                </div>
                                <div class="field">
                                    <label class="label_field">Password</label>
                                    <input type="password" name="password" placeholder="Password" />
                                </div>
                                <div class="field">
                                    <label class="label_field hidden">hidden label</label>
                                    <label class="form-check-label"><input type="checkbox" class="form-check-input"> Remember Me</label>
                                    <a class="forgot" href="">Forgotten Password?</a>
                                </div>
                                <div class="field margin_0">
                                    <label class="label_field hidden">hidden label</label>
                                    <button id="login-submit" type="submit" class="main_bt">Login</button>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-outline-light btn-lg px-5">Login</button>
                                </div>
                            </fieldset>
                        </form> *@
                        <h2 class="fw-bold mb-2 text-uppercase">Log in</h2>
                        <p class="text-black-50 mb-5">Please enter your login and password!</p>
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input asp-for="Input.Email" type="email" id="typeEmailX" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label class="form-label" for="typeEmailX">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input asp-for="Input.Password" type="password" id="typePasswordX" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label class="form-label" for="typePasswordX">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <button id="login-submit" type="submit" class="main_bt">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/_Layout_Admin/js/jquery.min.js"></script>
    <script src="/_Layout_Admin/js/popper.min.js"></script>
    <script src="/_Layout_Admin/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="/_Layout_Admin/js/animate.js"></script>
    <!-- select country -->
    <script src="/_Layout_Admin/js/bootstrap-select.js"></script>
    <!-- nice scrollbar -->
    <script src="/_Layout_Admin/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="/_Layout_Admin/js/custom.js"></script>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
