@model IEnumerable<DoAnCoSo.Models.ChiTietPhongBan>

@{
    ViewData["Title"] = "DetailsPhongBan";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}

<h1>Chi Tiết Phòng Ban</h1>
<br />
<a class="btn btn-primary" asp-controller="QuanLy" asp-action="QuanLyPhongBan">Quay Lại Danh Sách</a>
<br />
<br />
@using (Html.BeginForm())
{
    <div class="form-group form-inline">
        <br />
        <select name="idnv"  class="form-control">
            @foreach (var nv in ViewBag.nhanvien as IEnumerable<SelectListItem>)
            {
                <option  value="@nv.Value">@nv.Text</option>
            }
        </select>
        <input type="submit" class="btn btn-default" value="Thêm Nhân Viên" />
    </div>
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
@if (TempData["danger"] != null)
{
    <div class="alert alert-danger">
        @TempData["danger"]
    </div>
}
<table class="table table-bordered">
    <thead>
        <tr class ="table-primary">
            <th>
                Mã Chi Tiết Phòng Ban
            </th>
            <th>
                Tên Phòng Ban
            </th>
            <th>
                Tên Nhân Viên
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Chức Vụ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.PBId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phongBans.TenPB)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanViens.TenNhanVien)
            </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.NhanViens.HinhAnh)" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanViens.ChucVu.TenChucVu)
                </td>
            <td>
                    <a asp-action="DetailsPhongBan" asp-route-id="@item.PBId" asp-route-iddelete="@item.Id">Xóa nhân viên</a>
            </td>
        </tr>
}
    </tbody>
</table>
