@using Microsoft.AspNetCore.Identity
@model IEnumerable<DoAnCoSo.Models.KyLuat>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "QuanLyKLUser";
    Layout = "~/Views/Shared/_LayoutQL.cshtml";
}
<h1>Kỷ Luật</h1>
<br />
<a class="btn btn-primary" asp-action="QuanLyKTUser" asp-route-id="@UserManager.GetUserAsync(User).Result.MaNhanVien">Khen Thưởng</a>
<br />
<br />
<br />
<table class="table table table-bordered">
    <thead>
        <tr class="table-primary">
            <th>
                Tên Nhân Viên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                Loại Kỷ Luật
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-info">
                <td>
                    @Html.DisplayFor(modelItem => item.NhanViens.TenNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayQD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loaiKyLuats.TenKL)
                </td>
            </tr>
        }
    </tbody>
</table>

